@model Models.WorkoutModel


    <p>
        @Html.ActionLink("Create new", "AddExerciseToWorkout", Model.Id)
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercises.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises.First().Repetitions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises.First().Level)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model.Exercises)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repetitions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Exercise", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", "Exercise", new { id = item.Id })
                </td>
            </tr>
            }
        </tbody>
    }
</table>
