@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">User overview</h1>
    <ul>
        <li>@ViewData["UserName"] </li>
        <li>@ViewData["UserAge"] </li>
        <li>@ViewData["UserWeight"] </li>
        <li>@ViewData["UserHeight"] </li>
        <li>@ViewData["UserGender"] </li>
    </ul>
</div>
